@page "/game"

<MudGrid Class="mt-4">
    <MudItem md="6" sm="12">
        <MudContainer Class="d-flex flex-column">
            <div class="row">
                <div class="col-md-12">
                    <div id="board" style="width: 90%;"></div>
                </div>
            </div>
        </MudContainer>
    </MudItem>
</MudGrid>
