@page "/game/{text}"

<AuthorizeView>
    <Authorized>
        <MudText Typo="Typo.h4">@OponentName</MudText>
         
        <MudGrid Class="mt-4 align-content-center">
            <MudItem md="6" sm="12">
                <MudContainer Class="d-flex flex-column">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="board" style="width: 90%;"></div>
                        </div>
                    </div>
                </MudContainer>
            </MudItem>
            <MudItem md="6" sm="12">
                <MudCardContent>
                    <div class="time">
                        @Oponentminutes
                        <span>:</span>
                        @Oponentseconds
                    </div>
                </MudCardContent>
                <MudCardContent>
                    <div class="h4">
                        @LastMove
                    </div>
                </MudCardContent>
                <MudCardContent>
                    <div class="time">
                        @Myminutes
                        <span>:</span>
                        @Myseconds
                    </div>
                </MudCardContent>
            </MudItem>
        </MudGrid>
        <MudText Typo="Typo.h4">@Name</MudText>
    </Authorized>
    <NotAuthorized>
        <MudText Typo="Typo.h3">Please sign in your account or register new Account</MudText>
    </NotAuthorized>
</AuthorizeView>
